* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url("images/extra/backwallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 380px;
    height: auto; /* Adjusted height to fit content */
    position: relative;
    margin: 6% auto;
    background: rgba(255, 255, 255, 0.6); /* Translucent white background */
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgba(0,0,0,0.4);
}

.form-group {
    margin-bottom: 20px; /* Increased margin for spacing */
}

.label-input {
    display: flex;
    align-items: center;
}

.label-input img {
    width: 20px;
    padding-right: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    outline: none;
    background: transparent;
    color: rgba(0,0,0);
}

.input-field::placeholder {
    color: rgba(0,0,0,0.7);
}

.checkbox-label {
    margin: 20px 0; /* Increased margin for spacing */
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #FA4B37, #DF2771);
    color: #fff;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.submit-btn:hover {
    background-color: #DF2771;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 7px;
    cursor: pointer;
    opacity: 0.85;
}
